.card {
  border-radius: 2px;
  background-color: white;
  height: 200px;
  width: 200px;
  box-shadow: 2px 6px 6px 2px orangered, 2px 6px 6px 2px #999;
  overflow: auto;
  margin-left: 10%;
  float: left;
  position: relative;
}

.cardwrapper {
  padding-top: 50px;
  height: 100%;
  display: flex;
  padding: 20px;
  float: left;
  flex-flow: row wrap;
  margin-top: 100px;
  justify-content: space-around;
  align-content: flex-start;
}

.foot {
  margin-left: 40px;
}

.card > .img-container {
  background: black;
  background-size: 90%;
  height: 60%;
  overflow: hidden;
  text-align: center;
}
.card > .img-container > img {
  width: 60%;
  height: 90%;
  padding-top: 20px;
}

.result__food {
  color: black;
  margin-top: 10px;
}

.results {
  color: orangered;
  font-family: "Fredoka One";
}

.foot {
  height: 50px;
}

.props {
  font-size: 20px;
}

.black {
  color: black;
}

.mealsdiv {
  text-align: center;
  margin-left: 18%;
  margin-right: 18%;
  margin-top: 14%;
}

.mealtitle {
  margin-bottom: -300px;
  color: orangered;
  font-family: "Fredoka One";
}

.Footer {
  background-color: orangered;
  top: 0%;
  height: 50px;
}

.results p {
  line-height: 0.8;
}
