.static-logo {
  margin-top: 10%;
  height: 300px;
  cursor: pointer;
  opacity: 0.8;
}

.menu-hidden {
  visibility: hidden;
}

.title {
  font-family: "Fredoka One";
  font-size: 60px;
  text-align: center;
  background-color: black;
}

.directions {
  color: orangered;
  text-align: center;
  font-size: 30px;
  margin-left: 300px;
  margin-right: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.global {
  margin-top: 100px;
}

.form {
  color: orangered;
}
nav {
  margin: 15px;
  color: orangered;
  font-family: "Fredoka One";
  text-align: center;
  font-size: 30px;
}

.rightside {
  background: orangered;
  background-size: 10%;
  background-position: 10%;
  height: 450px;
  width: 50%;
  padding: 20px;
  color: white;
  position: relative;
  float: left;
}

.white {
  height: 100px;
  text-align: center;
  float: left;
  position: relative;
  margin-left: 30%;
}

.track {
  margin: 10px;
}

.words h1 {
  font-family: "Fredoka One";
  font-size: 60px;
  margin: 5%;
  float: left;
  position: relative;
}

.mealtime {
  margin-top: 100px;
  float: left;
  position: relative;
}

.words h5 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
}

.leftside {
  background: url(fruitvegbackground.png) no-repeat fixed;
  background-size: 60%;
  background-position: 110% 30%;
  height: 450px;
  width: 50%;
  padding: 0px;
  color: white;
  text-align: center;
  position: relative;
  float: left;
  margin-bottom: 20px;
}
@media only screen and (max-width: 900px) {
  .rightside {
    background: orangered;
    background-size: 10%;
    background-position: 10%;
    height: 375px;
    width: 50%;
    padding: 20px;
    color: white;
    position: relative;
    float: left;
  }

  .leftside {
    background: url(fruitvegbackground.png) no-repeat cover;
    background-size: 100%;
    background-position: 100% 30%;
    height: 375px;
    width: 50%;
    padding: 20px;
    color: white;
    text-align: center;
    position: relative;
    float: left;
    margin-bottom: 0px;
  }

  .words h1 {
    font-family: "Fredoka One";
    font-size: 40px;
    margin: 5%;
    float: left;
    position: relative;
  }

  .mealtime {
    margin-top: 10px;
    float: left;
    position: relative;
  }

  .directions {
    color: orangered;
    text-align: center;
    font-size: 20px;
    margin: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
}

@media only screen and (max-width: 600px) {
  .leftside {
    background: url(fruitvegbackground.png) no-repeat;
    background-size: 100%;
    background-position: 110% 30%;
    height: 300px;
    width: 100%;
    padding: 20px;
    color: white;
    text-align: center;
    position: relative;
    float: none;
    margin-bottom: 0px;
    display: hidden;
  }

  .rightside {
    background: orangered;
    /* background-size: 10%; */
    background-position: 10%;
    height: 450px;
    width: 100%;
    padding: 0px;
    color: white;
    position: relative;
    float: none;
  }

  .white {
    height: 100px;

    /* float: left; */
    position: relative;
    margin-left: 5%;
  }

  .static-logo {
    position: absolute;
    height: 200px;
    margin-top: 30px;
    cursor: pointer;
    opacity: 0.8;
    margin-left: -100px;
  }

  .mealtime {
    position: relative;
    float: left;
    margin-top: 5px;
  }

  .global {
    margin-top: 0px;
    height: 200px;
  }
  .directions {
    color: orangered;
    text-align: center;
    font-size: 20px;
    margin: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  .words h1 {
    font-family: "Fredoka One";
    font-size: 50px;
    margin: 5%;
    float: left;
    position: relative;
    text-align: center;
  }
  .track {
    margin: 10px;
    text-align: center;
  }
}
